/* styles.css */

* {
	font-family: Arial;
	color: white;
}

h1 {
  font-family: "DynaPuff", system-ui;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
font-size:2em;
}

.backgroundImage {
	background-image: url(../img/wrench.png);
	width: 400px;
	height: 400px;
	margin: 64px auto;	
}

.backgroundImage: hover {
	background-image: url(../img/clock.png);
	cursor: crosshair; 
}

body {
	backround-color: #cf152d;
	margin: 100px auto;
	width: 50%;
}

.body {
	font-family: Helvetica, Arial, sans-serif;
}

h2 {
	color: dodgerblue;
	font-size: 40px;
	text-align: left;
	font-family: "Jost", sans-serif;
	font-optical-sizing: auto;
	font-weight: 900;
	font-style: normal;
}

h3 {
	font-size: 16px;
	text-align: right;
}

h3 a:link,
h3 a:visited {
	color: dodgerblue;
	text-decoration: none; 
}

h3 a:hover {
	color: white;
}

a:hover {
	text-decoration: underline;
}
